﻿@model IEnumerable<ArztVerwaltung.Models.Visit>

@{
    ViewBag.Title = "Index";
}

<h2>Termine</h2>

<p>
    @Html.ActionLink("Neuen Termin anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicationUser.FullName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
        </td>
        <td>
            @Html.ActionLink("Editieren", "Edit") |
            @Html.ActionLink("Löschen", "Delete") |
            @Html.ActionLink("Medikament Hinzufügen", "Delete")
            @Html.ActionLink("Medikamente ansehen", "Delete")
        </td>
    </tr>
    }

</table>
