﻿@model IEnumerable<ArztVerwaltung.Models.Drug>

@{
    ViewBag.Title = "Index";
}

<h2>Medikamente</h2>

<p>
    @Html.ActionLink("Neues Medikament anlegen", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Editieren", "Edit", new { id=item.DrugID }) |
            @Html.ActionLink("Löschen", "Delete", new { id=item.DrugID })
        </td>
    </tr>
}

</table>
